.singleItem{
    align-content: center;
    color: rgba(0,0,0,1);
    display: flex;
    justify-content: space-between;
    & p {
        padding: 3px 0 0 0;
    }
    mat-icon{
        color: rgba(0,0,0,0.6);
        &:hover {
            color: rgba(0,0,0,1);
            cursor: pointer;
        }
    }
}